body{
    background-image: url("http://tub.tubgit.com/reimg/resize-img.php?src=http://tub.tubgit.com/images249/1s5n2vxfmqv.jpg&h=450&w=728");
    background-color: #ffffff;
    
}

h1{
    color: white;
}

div {
    
    font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 20px;
	padding: 20px;
	text-align: center;
}
p{
	color: white;
	font-family: fantasy;
}
